  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<meta name="Generator" content="Drupal 7 (http://drupal.org)" />
<link rel="shortcut icon" href="https://www.collab9.com/sites/collab9/images/CB.png" type="image/png" />
  <title>collab9 | Hosted Collaboration Solution</title>  
  <style type="text/css" media="all">
@import url("https://www.collab9.com/modules/system/system.base.css?nu5uag");
@import url("https://www.collab9.com/modules/system/system.menus.css?nu5uag");
@import url("https://www.collab9.com/modules/system/system.messages.css?nu5uag");
@import url("https://www.collab9.com/modules/system/system.theme.css?nu5uag");
</style>
<style type="text/css" media="screen">
@import url("https://www.collab9.com/sites/all/libraries/shadowbox/shadowbox.css?nu5uag");
</style>
<style type="text/css" media="all">
@import url("https://www.collab9.com/sites/all/modules/scroll_to_top/scroll_to_top.css?nu5uag");
@import url("https://www.collab9.com/sites/all/modules/simplenews/simplenews.css?nu5uag");
@import url("https://www.collab9.com/modules/field/theme/field.css?nu5uag");
@import url("https://www.collab9.com/sites/all/modules/fitvids/fitvids.css?nu5uag");
@import url("https://www.collab9.com/modules/node/node.css?nu5uag");
@import url("https://www.collab9.com/modules/search/search.css?nu5uag");
@import url("https://www.collab9.com/modules/user/user.css?nu5uag");
@import url("https://www.collab9.com/sites/all/modules/views/css/views.css?nu5uag");
</style>
<style type="text/css" media="all">
@import url("https://www.collab9.com/sites/all/modules/ckeditor/ckeditor.css?nu5uag");
@import url("https://www.collab9.com/sites/all/modules/ctools/css/ctools.css?nu5uag");
</style>
<style type="text/css" media="all">
<!--/*--><![CDATA[/*><!--*/
#back-top{right:40px;}#back-top span#button{background-color:#CCCCCC;}#back-top span#button:hover{opacity:1;filter:alpha(opacity = 1);background-color:#777777;}

/*]]>*/-->
</style>
<style type="text/css" media="all">
@import url("https://www.collab9.com/sites/all/modules/nice_menus/css/nice_menus.css?nu5uag");
@import url("https://www.collab9.com/sites/all/modules/nice_menus/css/nice_menus_default.css?nu5uag");
@import url("https://www.collab9.com/sites/all/modules/custom_search/custom_search.css?nu5uag");
@import url("https://www.collab9.com/sites/all/modules/mobile_navigation/mobile_navigation.css?nu5uag");
</style>
<style type="text/css" media="all">
@import url("https://www.collab9.com/sites/all/themes/omega/alpha/css/alpha-reset.css?nu5uag");
@import url("https://www.collab9.com/sites/all/themes/omega/alpha/css/alpha-mobile.css?nu5uag");
@import url("https://www.collab9.com/sites/all/themes/omega/alpha/css/alpha-alpha.css?nu5uag");
@import url("https://www.collab9.com/sites/all/themes/omega/omega/css/formalize.css?nu5uag");
@import url("https://www.collab9.com/sites/all/themes/omega/omega/css/omega-text.css?nu5uag");
@import url("https://www.collab9.com/sites/all/themes/omega/omega/css/omega-branding.css?nu5uag");
@import url("https://www.collab9.com/sites/all/themes/omega/omega/css/omega-menu.css?nu5uag");
@import url("https://www.collab9.com/sites/all/themes/omega/omega/css/omega-forms.css?nu5uag");
@import url("https://www.collab9.com/sites/all/themes/omega/omega/css/omega-visuals.css?nu5uag");
@import url("https://www.collab9.com/sites/collab9/files/fontyourface/font.css?nu5uag");
@import url("https://www.collab9.com/sites/collab9/files/fontyourface/local_fonts/avenir_book-normal-normal/stylesheet.css?nu5uag");
@import url("https://www.collab9.com/sites/collab9/files/fontyourface/local_fonts/c9-normal-normal/stylesheet.css?nu5uag");
@import url("https://www.collab9.com/sites/all/themes/collab9/css/global.css?nu5uag");
</style>

<!--[if (lt IE 9)&(!IEMobile)]>
<style type="text/css" media="all">
@import url("https://www.collab9.com/sites/all/themes/collab9/css/collab9-alpha-default.css?nu5uag");
@import url("https://www.collab9.com/sites/all/themes/collab9/css/collab9-alpha-default-normal.css?nu5uag");
@import url("https://www.collab9.com/sites/all/themes/omega/alpha/css/grid/alpha_default/normal/alpha-default-normal-12.css?nu5uag");
</style>
<![endif]-->

<!--[if gte IE 9]><!-->
<style type="text/css" media="all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation:landscape)">
@import url("https://www.collab9.com/sites/all/themes/collab9/css/collab9-alpha-default.css?nu5uag");
@import url("https://www.collab9.com/sites/all/themes/collab9/css/collab9-alpha-default-narrow.css?nu5uag");
@import url("https://www.collab9.com/sites/all/themes/omega/alpha/css/grid/alpha_default/narrow/alpha-default-narrow-12.css?nu5uag");
</style>
<!--<![endif]-->

<!--[if gte IE 9]><!-->
<style type="text/css" media="all and (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation:landscape)">
@import url("https://www.collab9.com/sites/all/themes/collab9/css/collab9-alpha-default.css?nu5uag");
@import url("https://www.collab9.com/sites/all/themes/collab9/css/collab9-alpha-default-normal.css?nu5uag");
@import url("https://www.collab9.com/sites/all/themes/omega/alpha/css/grid/alpha_default/normal/alpha-default-normal-12.css?nu5uag");
</style>
<!--<![endif]-->

<!--[if gte IE 9]><!-->
<style type="text/css" media="all and (min-width: 1220px)">
@import url("https://www.collab9.com/sites/all/themes/collab9/css/collab9-alpha-default.css?nu5uag");
@import url("https://www.collab9.com/sites/all/themes/collab9/css/collab9-alpha-default-wide.css?nu5uag");
@import url("https://www.collab9.com/sites/all/themes/omega/alpha/css/grid/alpha_default/wide/alpha-default-wide-12.css?nu5uag");
</style>
<!--<![endif]-->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
window.jQuery || document.write("<script src='/sites/all/modules/jquery_update/replace/jquery/1.7/jquery.min.js'>\x3C/script>")
//--><!]]>
</script>
<script type="text/javascript" src="https://www.collab9.com/misc/jquery.once.js?v=1.2"></script>
<script type="text/javascript" src="https://www.collab9.com/misc/drupal.js?nu5uag"></script>
<script type="text/javascript" src="https://www.collab9.com/sites/all/libraries/fitvids/jquery.fitvids.js?nu5uag"></script>
<script type="text/javascript" src="https://www.collab9.com/sites/all/libraries/shadowbox/shadowbox.js?v=3.0.3"></script>
<script type="text/javascript" src="https://www.collab9.com/sites/all/modules/nice_menus/js/jquery.bgiframe.js?v=2.1"></script>
<script type="text/javascript" src="https://www.collab9.com/sites/all/modules/nice_menus/js/jquery.hoverIntent.js?v=0.5"></script>
<script type="text/javascript" src="https://www.collab9.com/sites/all/libraries/superfish/superfish.js?v=v1.4.8"></script>
<script type="text/javascript" src="https://www.collab9.com/sites/all/modules/nice_menus/js/nice_menus.js?v=1.0"></script>
<script type="text/javascript" src="https://www.collab9.com/sites/all/modules/fitvids/fitvids.js?nu5uag"></script>
<script type="text/javascript" src="https://www.collab9.com/sites/all/modules/scroll_to_top/scroll_to_top.js?nu5uag"></script>
<script type="text/javascript" src="https://www.collab9.com/sites/all/modules/shadowbox/shadowbox_auto.js?nu5uag"></script>
<script type="text/javascript" src="https://www.collab9.com/sites/all/modules/custom_search/js/custom_search.js?nu5uag"></script>
<script type="text/javascript" src="https://www.collab9.com/sites/all/modules/mobile_navigation/js/mobile_menu.js?nu5uag"></script>
<script type="text/javascript" src="https://www.collab9.com/sites/all/modules/mobile_navigation/mobile_navigation.js?nu5uag"></script>
<script type="text/javascript" src="https://www.collab9.com/sites/all/modules/google_analytics/googleanalytics.js?nu5uag"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
var _gaq = _gaq || [];_gaq.push(["_setAccount", "UA-61886604-1"]);_gaq.push(["_trackPageview"]);(function() {var ga = document.createElement("script");ga.type = "text/javascript";ga.async = true;ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga, s);})();
//--><!]]>
</script>
<script type="text/javascript" src="https://www.collab9.com/sites/all/themes/omega/omega/js/jquery.formalize.js?nu5uag"></script>
<script type="text/javascript" src="https://www.collab9.com/sites/all/themes/omega/omega/js/omega-mediaqueries.js?nu5uag"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, {"basePath":"\/","pathPrefix":"","ajaxPageState":{"theme":"collab9","theme_token":"5EaQGA75ocpijvCTJ8p8z0s0a4aimgONTpO6_kZbMVs","js":{"0":1,"https:\/\/ajax.googleapis.com\/ajax\/libs\/jquery\/1.7.1\/jquery.min.js":1,"1":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"sites\/all\/libraries\/fitvids\/jquery.fitvids.js":1,"sites\/all\/libraries\/shadowbox\/shadowbox.js":1,"sites\/all\/modules\/nice_menus\/js\/jquery.bgiframe.js":1,"sites\/all\/modules\/nice_menus\/js\/jquery.hoverIntent.js":1,"sites\/all\/libraries\/superfish\/superfish.js":1,"sites\/all\/modules\/nice_menus\/js\/nice_menus.js":1,"sites\/all\/modules\/fitvids\/fitvids.js":1,"sites\/all\/modules\/scroll_to_top\/scroll_to_top.js":1,"sites\/all\/modules\/shadowbox\/shadowbox_auto.js":1,"sites\/all\/modules\/custom_search\/js\/custom_search.js":1,"sites\/all\/modules\/mobile_navigation\/js\/mobile_menu.js":1,"sites\/all\/modules\/mobile_navigation\/mobile_navigation.js":1,"sites\/all\/modules\/google_analytics\/googleanalytics.js":1,"2":1,"sites\/all\/themes\/omega\/omega\/js\/jquery.formalize.js":1,"sites\/all\/themes\/omega\/omega\/js\/omega-mediaqueries.js":1},"css":{"modules\/system\/system.base.css":1,"modules\/system\/system.menus.css":1,"modules\/system\/system.messages.css":1,"modules\/system\/system.theme.css":1,"sites\/all\/libraries\/shadowbox\/shadowbox.css":1,"sites\/all\/modules\/scroll_to_top\/scroll_to_top.css":1,"sites\/all\/modules\/simplenews\/simplenews.css":1,"modules\/field\/theme\/field.css":1,"sites\/all\/modules\/fitvids\/fitvids.css":1,"modules\/node\/node.css":1,"modules\/search\/search.css":1,"modules\/user\/user.css":1,"sites\/all\/modules\/views\/css\/views.css":1,"sites\/all\/modules\/ckeditor\/ckeditor.css":1,"sites\/all\/modules\/ctools\/css\/ctools.css":1,"0":1,"sites\/all\/modules\/nice_menus\/css\/nice_menus.css":1,"sites\/all\/modules\/nice_menus\/css\/nice_menus_default.css":1,"sites\/all\/modules\/custom_search\/custom_search.css":1,"sites\/all\/modules\/mobile_navigation\/mobile_navigation.css":1,"sites\/all\/themes\/omega\/alpha\/css\/alpha-reset.css":1,"sites\/all\/themes\/omega\/alpha\/css\/alpha-mobile.css":1,"sites\/all\/themes\/omega\/alpha\/css\/alpha-alpha.css":1,"sites\/all\/themes\/omega\/omega\/css\/formalize.css":1,"sites\/all\/themes\/omega\/omega\/css\/omega-text.css":1,"sites\/all\/themes\/omega\/omega\/css\/omega-branding.css":1,"sites\/all\/themes\/omega\/omega\/css\/omega-menu.css":1,"sites\/all\/themes\/omega\/omega\/css\/omega-forms.css":1,"sites\/all\/themes\/omega\/omega\/css\/omega-visuals.css":1,"sites\/collab9\/files\/fontyourface\/font.css":1,"public:\/\/fontyourface\/local_fonts\/avenir_book-normal-normal\/stylesheet.css":1,"public:\/\/fontyourface\/local_fonts\/c9-normal-normal\/stylesheet.css":1,"sites\/all\/themes\/collab9\/css\/global.css":1,"ie::normal::sites\/all\/themes\/collab9\/css\/collab9-alpha-default.css":1,"ie::normal::sites\/all\/themes\/collab9\/css\/collab9-alpha-default-normal.css":1,"ie::normal::sites\/all\/themes\/omega\/alpha\/css\/grid\/alpha_default\/normal\/alpha-default-normal-12.css":1,"narrow::sites\/all\/themes\/collab9\/css\/collab9-alpha-default.css":1,"narrow::sites\/all\/themes\/collab9\/css\/collab9-alpha-default-narrow.css":1,"sites\/all\/themes\/omega\/alpha\/css\/grid\/alpha_default\/narrow\/alpha-default-narrow-12.css":1,"normal::sites\/all\/themes\/collab9\/css\/collab9-alpha-default.css":1,"normal::sites\/all\/themes\/collab9\/css\/collab9-alpha-default-normal.css":1,"sites\/all\/themes\/omega\/alpha\/css\/grid\/alpha_default\/normal\/alpha-default-normal-12.css":1,"wide::sites\/all\/themes\/collab9\/css\/collab9-alpha-default.css":1,"wide::sites\/all\/themes\/collab9\/css\/collab9-alpha-default-wide.css":1,"sites\/all\/themes\/omega\/alpha\/css\/grid\/alpha_default\/wide\/alpha-default-wide-12.css":1}},"scroll_to_top":{"label":"Back to top"},"shadowbox":{"animate":true,"animateFade":true,"animSequence":"wh","auto_enable_all_images":1,"auto_gallery":0,"autoplayMovies":true,"continuous":false,"counterLimit":10,"counterType":"default","displayCounter":true,"displayNav":true,"enableKeys":true,"fadeDuration":0.35,"handleOversize":"resize","handleUnsupported":"link","initialHeight":160,"initialWidth":320,"language":"en","modal":false,"overlayColor":"#000","overlayOpacity":0.8,"resizeDuration":0.55,"showMovieControls":true,"slideshowDelay":0,"viewportPadding":20,"useSizzle":false},"custom_search":{"form_target":"_self","solr":0},"nice_menus_options":{"delay":"800","speed":"slow"},"fitvids":{"custom_domains":[],"selectors":["body"],"simplifymarkup":true},"mobile_navigation":{"breakpoint":"all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation:landscape)","menuSelector":"#nice-menu-2","menuPlugin":"accordion","showEffect":"drawer_top","showItems":"all","tabHandler":1,"menuWidth":"100","specialClasses":0,"mainPageSelector":"#block-nice-menus-2","useMask":1,"menuLabel":"Menu","expandActive":0},"googleanalytics":{"trackOutbound":1,"trackMailto":1,"trackDownload":1,"trackDownloadExtensions":"7z|aac|arc|arj|asf|asx|avi|bin|csv|doc|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls|xml|z|zip"},"omega":{"layouts":{"primary":"normal","order":["narrow","normal","wide"],"queries":{"narrow":"all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation:landscape)","normal":"all and (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation:landscape)","wide":"all and (min-width: 1220px)"}}}});
//--><!]]>
</script>
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
  </div>
  <div class="region region-page-top" id="region-page-top">
  <div class="region-inner region-page-top-inner">
      </div>
</div>  <div class="page clearfix" id="page">
      <header id="section-header" class="section section-header">
  <div id="zone-branding-wrapper" class="zone-wrapper zone-branding-wrapper clearfix">  
  <div id="zone-branding" class="zone zone-branding clearfix container-12">
    <div class="grid-2 region region-branding" id="region-branding">
  <div class="region-inner region-branding-inner">
        <div class="branding-data clearfix">
            <div class="logo-img">
        <a href="/" rel="home" title="" class="active"><img src="https://www.collab9.com/sites/collab9/files/logo_v2.jpg" alt="" id="logo" /></a>      </div>
                </div>
          </div>
</div><div class="grid-7 region region-top-mainnav" id="region-top-mainnav">
  <div class="region-inner region-top-mainnav-inner">
    <div class="block block-nice-menus block-2 block-nice-menus-2 odd block-without-title" id="block-nice-menus-2">
  <div class="block-inner clearfix">
                
    <div class="content clearfix">
      <ul class="nice-menu nice-menu-down nice-menu-main-menu" id="nice-menu-2"><li class="menu-221 menu-path-front first odd "><a href="/" class="home_ico active">Home</a></li>
<li class="menu-482 menuparent  menu-path-node-21  even "><a href="/services/hosted-collaboration-solution" title="Collab9 Services" class="ser_ico">Services</a><ul><li class="menu-990 menu-path-node-21 first odd "><a href="/services/hosted-collaboration-solution">Overview</a></li>
<li class="menu-520 menu-path-node-5  even "><a href="/services/voice">Voice</a></li>
<li class="menu-521 menu-path-node-6  odd "><a href="/services/unified-messaging">Messaging</a></li>
<li class="menu-522 menu-path-node-7  even "><a href="/services/presence">Presence</a></li>
<li class="menu-523 menu-path-node-8  odd "><a href="/services/mobility">Mobility</a></li>
<li class="menu-524 menu-path-node-9  even "><a href="/services/conferencing">Conferencing</a></li>
<li class="menu-525 menu-path-node-10  odd "><a href="/services/contact-center">Contact Center</a></li>
<li class="menu-526 menu-path-node-11  even "><a href="/services/telecom-pstn">Telecom / PSTN</a></li>
<li class="menu-751 menu-path-node-38  odd "><a href="/sector/Collab9-HCS-for-Federal-Agencies">Federal</a></li>
<li class="menu-1032 menu-path-node-73  even last"><a href="/hosted-collaboration-for-commercial-business">Commercial</a></li>
</ul></li>
<li class="menu-483 menuparent  menu-path-node-12  odd "><a href="/partners/channel-partners" class="par_ico">Partners</a><ul><li class="menu-1040 menu-path-scollab9com-deal-reg first odd "><a href="https://www.collab9.com/deal-reg">Register A Deal</a></li>
<li class="menu-529 menu-path-node-15  even "><a href="/partners/become-collab9-channel-partner">Become a Reseller</a></li>
<li class="menu-527 menu-path-node-12  odd "><a href="/partners/channel-partners">Channel Partners</a></li>
<li class="menu-528 menu-path-node-13  even last"><a href="/partners/technology-partners">Technology Partners</a></li>
</ul></li>
<li class="menu-484 menuparent  menu-path-node-2  even "><a href="/hcs-overview" title="About Us" class="abt_ico">About Us</a><ul><li class="menu-516 menu-path-node-2 first odd "><a href="/hcs-overview">Overview</a></li>
<li class="menu-517 menu-path-node-21  even "><a href="/services/hosted-collaboration-solution">HCS</a></li>
<li class="menu-535 menu-path-news  odd "><a href="/news">News</a></li>
<li class="menu-989 menu-path-webinars  even "><a href="/webinars">Webinars</a></li>
<li class="menu-518 menu-path-node-4  odd "><a href="/ROI-Calculator">ROI-Calculator</a></li>
<li class="menu-519 menu-path-node-14  even "><a href="/terms-of-service">Terms Of Service</a></li>
<li class="menu-1038 menu-path-node-93  odd last"><a href="/hcs-overview/differentiators">Differentiators</a></li>
</ul></li>
<li class="menu-485 menuparent  menu-path-node-22  odd "><a href="/request-info" class="Mail_icon">Contact Us</a><ul><li class="menu-530 menu-path-node-22 first odd "><a href="/request-info">Request Information</a></li>
<li class="menu-1039 menu-path-scollab9com-demo-request  even "><a href="https://www.collab9.com/demo-request">Demo Request</a></li>
<li class="menu-532 menu-path-node-24  odd "><a href="/deal-reg">Deal Registration</a></li>
<li class="menu-533 menu-path-node-15  even "><a href="/partners/become-collab9-channel-partner">Become a Reseller</a></li>
<li class="menu-531 menu-path-node-23  odd last"><a href="/signup-for-newsletter">Sign Up For Newsletter</a></li>
</ul></li>
<li class="menu-1026 menu-path-blog  even last"><a href="/Blog" class="blog_icon">Blog</a></li>
</ul>
    </div>
  </div>
</div>  </div>
</div><div class="grid-3 region region-top-cisco" id="region-top-cisco">
  <div class="region-inner region-top-cisco-inner">
    <div class="block block-block block-1 block-block-1 odd block-without-title" id="block-block-1">
  <div class="block-inner clearfix">
                
    <div class="content clearfix">
      <div class="cis-logo"><img src="/assets/Cisco_logo.png" alt="Cisco powered cloud services" title="Cisco powered cloud services" /></div>
    </div>
  </div>
</div>  </div>
</div>  </div>
</div><div id="zone-menu-wrapper" class="zone-wrapper zone-menu-wrapper clearfix">  
  <div id="zone-menu" class="zone zone-menu clearfix container-12">
    <div class="grid-6 region region-menu" id="region-menu">
  <div class="region-inner region-menu-inner">
          </div>
</div>
  </div>
</div></header>    
      <section id="section-content" class="section section-content">
    
  <div id="zone-banner" class="zone zone-banner clearfix fluid container-12">
    <div class="grid-12 region region-hero-banner fluid" id="region-hero-banner">
  <div class="region-inner region-hero-banner-inner">
    <div class="block block-block block-30 block-block-30 odd block-without-title" id="block-block-30">
  <div class="block-inner clearfix">
                
    <div class="content clearfix"><section class="welcome-banner"><!--<img src="/sites/collab9/images/What_do_img.jpg" alt="What we do"  title="what we do" />--><div class="we-ban">
            	<h1>Hi, welcome to collab9</h1>
                <p>collab9's Hosted Collaboration Solution (HCS) is a secure, cloud-based communication solution. This user-based subscription model integrates voice, video &amp; web conferencing, messaging, mobility and customer care.
</p>
                <div class="ser-cta-con">
                    <ul><li><a href="/services/mobility" class="hvr-shutter-out-vertical">Mobility<span class="mobility"></span></a></li>
                    <li><a href="/services/unified-messaging" class="hvr-shutter-out-vertical">Messaging<span class="messaging"></span></a></li>
                    <li><a href="/services/conferencing" class="hvr-shutter-out-vertical">Conferencing<span class="confrencing"></span></a></li>
                    <li><a href="/services/voice" class="hvr-shutter-out-vertical">Voice<span class="Voice"></span></a></li>
                    <li><a href="/services/presence" class="hvr-shutter-out-vertical">Presence<span class="presence"></span></a></li>
                    <li><a href="/contact-center" class="hvr-shutter-out-vertical">Contact Center<span class="cont-cen"></span></a></li>
                                       
                   </ul></div>
            </div>
            
        </section>    </div>
  </div>
</div><div class="block block-block block-31 block-block-31 even block-without-title" id="block-block-31">
  <div class="block-inner clearfix">
                
    <div class="content clearfix">
      
<section class="Top-Search-Bar"><div class="search-top-form">

<input type="text" onfocus="if(this.value == 'SEARCH COLLAB9') { this.value = '';}" onblur="if(this.value == '') { this.value = 'SEARCH COLLAB9';}" value="SEARCH COLLAB9" name="inputname" id="main_search" /><input name="btn_search" id="btn_search" type="submit" value="" /></div>
</section>    </div>
  </div>
</div>  </div>
</div>  </div>
<div id="zone-content-wrapper" class="zone-wrapper zone-content-wrapper clearfix">  
  <div id="zone-content" class="zone zone-content clearfix container-12">    
        
        <div class="grid-12 region region-content" id="region-content">
  <div class="region-inner region-content-inner">
    <a id="main-content"></a>
                        <div class="block block-system block-main block-system-main odd block-without-title" id="block-system-main">
  <div class="block-inner clearfix">
                
    <div class="content clearfix">
      <div id="first-time"><p>No front page content has been created yet.</p></div>    </div>
  </div>
</div>      </div>
</div>  </div>
</div>  
  <div id="zone-rslider" class="zone zone-rslider clearfix container-12">
    <div class="grid-12 region region-slider" id="region-slider">
  <div class="region-inner region-slider-inner">
    <div class="block block-block block-3 block-block-3 odd block-without-title" id="block-block-3">
  <div class="block-inner clearfix">
                
    <div class="content clearfix">
      <section class="us-seg-con"><h2 class="centered">Which best describes you?</h2>
        <div class="user-seg">
        	<div class="box-usgt">
            <a href="/sector/hosted-collaboration-for-commercial-business"><img src="/assets/commercial-enterprise-collaboration.png" alt="Commercial Enterprise Collaboration" title="Commercial Enterprise Collaboration" /></a>
            <div class="usg-tit"><a href="/sector/hosted-collaboration-for-commercial-business">Commercial Sector</a></div>

            </div>
            <div class="box-usgt">
            <a href="/hcs-overview-public-sector"><img src="/assets/public-sector-collaboration.png" alt="Public Sector Collaboration" title="Public Sector Collaboration" /></a>
            <div class="usg-tit"><a href="/hcs-overview-public-sector">Public Sector</a></div>

            </div>
            <div class="box-usgt">
            <a href="/reseller"><img src="/assets/reseller.png" alt="I am a reseller" title="I am a reseller" /></a>
            <div class="usg-tit"><a href="/reseller">Reseller</a></div>

            </div>
            <div class="box-usgt">
            <a href="/cisco-sales-team"><img src="/assets/cisco-collaboration-solution.png" alt="Cisco Collaboration Solution" title="Cisco Collaboration Solution" /></a>
            <div class="usg-tit"><a href="/cisco-sales-team">Cisco Reps</a></div>

            </div>
        </div>
</section>    </div>
  </div>
</div>  </div>
</div>  </div>
</section>    
  
      <footer id="section-footer" class="section section-footer">
  <div id="zone-footer-wrapper" class="zone-wrapper zone-footer-wrapper clearfix">  
  <div id="zone-footer" class="zone zone-footer clearfix container-12">
    <div class="grid-12 region region-footer-sep" id="region-footer-sep">
  <div class="region-inner region-footer-sep-inner">
    <div class="block block-block block-7 block-block-7 odd block-without-title" id="block-block-7">
  <div class="block-inner clearfix">
                
    <div class="content clearfix">
       <section class="sep_hr"></section>    </div>
  </div>
</div>  </div>
</div><div class="grid-8 region region-footer-first" id="region-footer-first">
  <div class="region-inner region-footer-first-inner">
    <div class="block block-block block-10 block-block-10 odd block-without-title" id="block-block-10">
  <div class="block-inner clearfix">
                
    <div class="content clearfix">
      <footer class="footer"><div class="ft_bt_lk">
            	
                <ul><li class="bt_title"><em>Services</em></li>
                    <li><a href="/Voice"> Voice</a></li>
                    <li><a href="/unified-messaging">Messaging</a></li>
                    <li><a href="/presence">Presence</a></li>
                    <li><a href="/mobility">Mobility</a></li>
                    <li><a href="/conferencing">Conferencing</a></li>
                     <li><a href="/contact-center">Contact Center</a></li>
     				 <li><a href="/telecom-pstn">Telecom/PSTN</a></li> 
                     
                </ul><ul><li class="bt_title"><em>Partners</em></li>
                    <li><a href="/deal-reg">Register a Deal</a></li>
                    <li><a href="/become-collab9-channel-partner">Become a Reseller</a></li>            	
                    <li><a href="/channel-partners">Channel Partners</a></li>
                    <li><a href="/technology-partners">Technology Partners</a></li>
                </ul><ul id="marnon"><li class="bt_title"><em>Contact collab9</em></li>
                    <li><a href="/request-info">Request Information</a></li>
                    <li><a href="/demo-request">Request A Demo</a></li>
                    <li><a href="/signup-for-newsletter">Sign up for Our Newsletter</a></li>
                    <li><a href="/roi-calculator">ROI Calculator</a></li>  
                </ul></div>           
                
                
    
        </footer>    </div>
  </div>
</div>  </div>
</div><div class="grid-4 region region-footer-second" id="region-footer-second">
  <div class="region-inner region-footer-second-inner">
    <div class="block block-block block-8 block-block-8 odd block-without-title" id="block-block-8">
  <div class="block-inner clearfix">
                
    <div class="content clearfix">
      <footer class="footer"><div class="soc_new_lt">
            	<ul><li><img src="/assets/tele_icon.png" /></li>
                    <li><p>Ph: 424-331-1200</p></li>
                </ul><ul><li><a href="/video" target="_self"><img src="/assets/vid_ico.png" alt="collab9 Videos" title="collab9 Videos" /></a></li>
                    <li><p><a href="/video" target="_self">collab9 Videos</a></p></li>
                </ul><ul><li><a href="https://twitter.com/collab9" target="_blank"><img src="/assets/twit_icon.png" alt="Follow us on Twitter" title="Follow us on Twitter" /></a></li>
                    <li><p><a href="https://twitter.com/collab9" target="_blank">Follow us on Twitter</a></p></li>
                </ul><div class="new_lt">

                </div>
                
                </div>
           
        </footer>    </div>
  </div>
</div><div class="block block-search block-form block-search-form even block-without-title" id="block-search-form">
  <div class="block-inner clearfix">
                
    <div class="content clearfix">
      <form class="search-form" action="/" method="post" id="search-block-form" accept-charset="UTF-8"><div><div class="container-inline">
      <h2 class="element-invisible">Search form</h2>
    <div class="form-item form-type-textfield form-item-search-block-form">
  <input title="Enter the terms you wish to search for." class="custom-search-box form-text" placeholder="Search this site" type="text" id="edit-search-block-form--2" name="search_block_form" value="" size="15" maxlength="128" />
</div>
<div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="Search" class="form-submit" /></div><input type="hidden" name="form_build_id" value="form-K9xTUQdS0V5ChDz8uuuZqomUrZCFg7pU54Rmtc9EZB8" />
<input type="hidden" name="form_id" value="search_block_form" />
</div>
</div></form>    </div>
  </div>
</div>  </div>
</div><div class="grid-12 region region-copy-rights" id="region-copy-rights">
  <div class="region-inner region-copy-rights-inner">
    <div class="block block-block block-9 block-block-9 odd block-without-title" id="block-block-9">
  <div class="block-inner clearfix">
                
    <div class="content clearfix">
      <section class="sep_hr"></section><div class="cop_rgt"><p>© 2015 collab9. All rights reserved.</p></div>

<script language="javascript">
<!--//--><![CDATA[// ><!--

jQuery(function(jQuery) {
	var selector = jQuery(".field.field-name-submitted-by.field-type-ds.field-label-hidden > div.field-items > div.field-item.even"); 
	jQuery.each( selector, function( key, value ) {
		text = selector.eq(key).text();
	  	text = text.split(' on ')[0];
	 	selector.eq(key).text(text);
	});
jQuery("img#logo").attr("title", "Secure Hoted Collaboration");
jQuery("img#logo").attr("alt", "Secure Hoted Collaboration");
jQuery("#btn_search").click(function(e) {
	var search_field_txt = jQuery("#main_search").val(); 
	window.location.href = "https://www.collab9.com/search/node/" + search_field_txt ;   
});


});

//--><!]]>
</script><script>
<!--//--><![CDATA[// ><!--
/*<![CDATA[*/(function(w,a,b,d,s){w[a]=w[a]||{};w[a][b]=w[a][b]||{q:[],track:function(r,e,t){this.q.push({r:r,e:e,t:t||+new Date});}};var e=d.createElement(s);var f=d.getElementsByTagName(s)[0];e.async=1;e.src='//info.collab9.com/cdnr/87/acton/bn/tracker/16357';f.parentNode.insertBefore(e,f);})(window,'ActOn','Beacon',document,'script');ActOn.Beacon.track();/*]]]]><![CDATA[>*/
//--><!]]>
</script><!-- begin olark code --><script data-cfasync="false" type="text/javascript">
<!--//--><![CDATA[// ><!--
/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('8510-270-10-3428');/*]]]]><![CDATA[>*/
//--><!]]>
</script><noscript><a href="https://www.olark.com/site/8510-270-10-3428/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->
    </div>
  </div>
</div>  </div>
</div>  </div>
</div></footer>  </div>  <script type="text/javascript">
<!--//--><![CDATA[//><!--

          Shadowbox.path = "/sites/all/libraries/shadowbox/";
	      Shadowbox.init(Drupal.settings.shadowbox);
	    
//--><!]]>
</script>